<h1>Pages#home</h1>
<h2>Hello I am a subheading</h2>
<h2>Hello I am another subheading</h2>
<p>Find me in app/views/pages/home.html.erb</p>

<% if user_signed_in? %>
  <%= current_user.email %>
<% end %>
